.versionStatus{
    width: 200px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 50px;
    cursor: pointer;
}